---
import BaseLayout from "../layouts/BaseLayout.astro";
import LinkBord from "../components/LinkBord.astro";
import ButtonBord from "../components/ButtonBord.astro";
---

<BaseLayout>
  <main id="game-field" class="container">
    <section class="introduction">
      <div class="me">
        <h1 id="name">Kohei Kirisawa</h1>
        <ul id="profile">
          <li><p>株式会社PR TIMES</p></li>
          <li><p>フロントエンドエンジニア</p></li>
          <li><p>目玉焼きには塩胡椒を振っています。</p></li>
        </ul>
      </div>
      <div id="avatar" class="avatar">
        <img 
          alt="Avatar image of Kirisawa"
          width="190" 
          height="190" 
          src="/kirisawak-middium-380.png" 
          srcset="kirisawak-small-190.png 320w, kirisawak-middium-380.png 990w, kirisawak-large-760.png 1200w, kirisawak-xlarge-1520.png 1900w"
          sizes="50vw"
        />
      </div>
    </section>
    <section class="link-bord-union">
      <LinkBord
        class="link-bord"
        siteName="Twitter"
        userId="@kiririLee"
        siteUrl="https://twitter.com/kiririLee"
      />
      <LinkBord
        class="link-bord"
        siteName="GitHub"
        userId="kirikirisu"
        siteUrl="https://github.com/kirikirisu"
      />
      <LinkBord
        class="link-bord"
        siteName="エンジニアブログ"
        userId="kirisawa"
        siteUrl="https://developers.prtimes.jp/author/kirisawakouhei/"
      />
      <LinkBord
        class="link-bord"
        siteName="Qiita"
        userId="kiririri"
        siteUrl="https://qiita.com/kiririri"
      />
      <ButtonBord id="start-game-button" />
    </section>
  </main>
</BaseLayout>

<script>
  import { BrickBooster } from "../lib/BrickBooster";

  const startButton = document.getElementById("start-game-button");
  startButton?.addEventListener("click", () => {
    console.log("game start!");
    const root = document.getElementById("game-field") as HTMLElement;

    const name = document.getElementById("name") as HTMLHeadElement;
    const profile = document.getElementById("profile") as HTMLUListElement;
    const avatar = document.getElementById("avatar") as HTMLDivElement;
    const linkBordList = document.getElementsByClassName(
      "link-bord"
    ) as HTMLCollection;
    const targetDOMList = [...linkBordList, name, profile, avatar];

    const bb = new BrickBooster(root, targetDOMList);
    bb.start();
  });
</script>

<style>
  body {
  }
  .container {
    width: 600px;
    margin: 30px auto;
    padding: 0 15px;
  }

  h1 {
    color: sienna;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .introduction {
    display: flex;
    margin-bottom: 50px;
  }

  .me {
    margin-right: 50px;
  }

  .avatar {
    width: 190px;
    height: 190px;
  }

  img {
    object-fit: cover;
    border-radius: 3%;
  }

  .link-bord-union {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 10px;
  }

  .link-bord {
    height: 170px;
  }

  @media (max-width: 480px) {
    .container {
      width: 100vw;
    }

    .introduction {
      display: flex;
      flex-direction: column;
    }

    .me {
      margin-bottom: 30px;
    }
  }
</style>
