---
import "../reset.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="kirisawa is a man who eats fried eggs with salt and pepper. 
               I think kinoko no yama is tastier than takenoko no sato. 
               And I use vim keybindings in VSCode.">
    <title>kirisawa</title>
  </head>
  <body>
    <slot />
  </body>
</html>
